<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580057501791-9t08t32u8f8p56cqal07pqmnglml06en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580057501791-9t08t32u8f8p56cqal07pqmnglml06en</string>
	<key>API_KEY</key>
	<string>AIzaSyCuq8QUey4jcmG0ZdzKZcR7F815QdDi2jI</string>
	<key>GCM_SENDER_ID</key>
	<string>580057501791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hwzn.elMola</string>
	<key>PROJECT_ID</key>
	<string>elmolla-98aa0</string>
	<key>STORAGE_BUCKET</key>
	<string>elmolla-98aa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580057501791:ios:0fc0afbe6f9c8ca2bc0bea</string>
</dict>
</plist>